@font-face{
  font-family: 'Akzidenz-grotesk';
  src: url('/fonts/Akzidenz-grotesk-light.ttf') format('truetype');
}

@font-face{
  font-family: 'Bandeins-strange';
  src: url('/fonts/Bandeins-strange-variable.ttf') format('truetype');
}

@font-face{
  font-family: 'Space-grotesk';
  src: url('/fonts/Space-grotesk-light.ttf') format('truetype');
}

@font-face{
  font-family: 'Arcon';
  src: url('/fonts/Arcon-regular.otf') format('truetype');
}

@font-face{
  font-family: 'Fax-sans';
  src: url('/fonts/Fax-sans.otf') format('truetype');
}

@font-face{
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Light.ttf') format('truetype');
}


:root {
  --background: white;
  --foreground: black;
  --border: black;
  --faint: #acacac;
  --error: red;
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 20px;
  } 
}

* {
  /* font-family: 'Space-grotesk'; */
  font-family: 'Manrope';
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bandeins-strange';
}